PORT=4002
DATABASE_URL=postgresql://admin:admin@postgres:5432/wallets
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
RABBITMQ_EXCHANGE=crash.events

KEYCLOAK_ISSUER=http://147.93.66.151:8080/realms/crash-game
KEYCLOAK_JWKS_URI=http://keycloak:8080/realms/crash-game/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=crash-game-client

INITIAL_WALLET_BALANCE_CENTS=2000

ENABLE_INTERNAL_TEST_ROUTES=true
