PORT=4001
ROUND_BETTING_DURATION_SECONDS=10
ROUND_CRASHED_DURATION_SECONDS=10
CURVE_GROWTH_FACTOR=0.23
MAX_CRASH_POINT=1000
DATABASE_URL=postgresql://admin:admin@postgres:5432/games
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
RABBITMQ_EXCHANGE=crash.events

KEYCLOAK_ISSUER=http://localhost:8080/realms/crash-game
KEYCLOAK_JWKS_URI=http://keycloak:8080/realms/crash-game/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=crash-game-client
